{% extends "layout.html" %}
{% block content %}
<head>  
<script type="text/javascript" src="/static/button.js"></script>  
<link rel="stylesheet" href="/static/style.css">
</head>  


    <audio id="chord" src="{{ audio_url }}"></audio>
         


<form action="/answer" method="POST" class="form-style-6">
    <h1>{{ topic }}</h1>
    <a onclick="play()" class="button6">Kuuntele sointu</a>
<h2>Valitse oikea vaihtoehto:</h2>
<p>
<input type="radio" name="answer" value="duuri"> duuri <br>
<input type="radio" name="answer" value="molli"> molli <br>
<input type="radio" name="answer" value="vähennetty"> vähennetty <br>
<input type="radio" name="answer" value="ylinouseva"> ylinouseva <br>

<p>
<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<a href="/kuuntelu" class="button6">Takaisin listaukseen</a>

{% endblock %}