<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<title>Sointutunnistusappi</title>
<div>
    <h1>Sointutunnistusappi</h1>
    
</div>
<div>
    
    {% if session.user_id %}
        

        
        
        {% if session.admin == True %}
            <p>Olet kirjautunut pääkäyttäjänä nimellä <strong>{{ session.username }}</strong></p>
            <a href="/newtest" class="button6">Lisää uusi kuunteluharjoitus</a><br>
            <a href="/newtest-basic" class="button6">Lisää uusi perusharjoitus</a><br>
            <a href="/tilastot" class="button6">Tarkastele oppilaiden tuloksia</a><br><br><br>
        {% else %}
            <p>Olet kirjautunut nimellä <strong>{{ session.username }}</strong></p>
            <p>Tervetuloa opettelemaan erilaisia sointuja</p>
            <p>Valitse alta haluamasi toiminto</p>
            <a href="/kuuntelu" class="button6">tee kuunteluharjoituksia</a><br>
            <a href="/tunnistus" class="button6">tee soinnuntunnistusharjoituksia</a><br>
            <a href="/tulokset" class="button6">tarkastele tuloksiasi</a><br><br><br>
        {% endif %}
        <p><a href="/logout" class="button6" style="background-color:#668fff">Kirjaudu ulos</a></p>
    
    
    {% else %}
    
    <div class="login">
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <p>Ei tunnusta? <a href="/register" class="button6">rekisteröidy</a></p>
</div>
    {% endif %}
</div>