<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<title>Sointutunnistusappi</title>
<div>
    <h1>
        <a href="/"><img src="/static/mikasointu-01.png" alt="Which Chord logo" /></a>
    </h1>
      
    
</div>
<div>
    
    {% if session.user_id %}
        

        
        
        {% if session.admin == True %}
            <p>Olet kirjautunut pääkäyttäjänä nimellä <strong>{{ session.username }}</strong></p>
            <a href="/newtest" class="button6">Lisää uusi kuunteluharjoitus</a><br>
            <a href="/newtest-basic" class="button6">Lisää uusi perusharjoitus</a><br>
            <a href="/tilastot" class="button6">Tarkastele tilastoja</a><br><br><br>
        {% else %}
            <p>Hei <strong>{{ session.username }}</strong>!</p>
            <p>Tervetuloa opettelemaan erilaisia sointuja!</p>
            <p><strong>Which Chord?</strong> -sovelluksen avulla voit opetella tunnistamaan sointuja joko annettujen äänten perusteella tai korvakuulolta.</p>
            
            <br><br><br>
            <p><strong>Valitse alta haluamasi toiminto:</strong></p>
            <a href="/kuuntelu" class="button6">Tee kuunteluharjoituksia</a><br>
            <a href="/tunnistus" class="button6">Tee soinnuntunnistusharjoituksia</a><br>
            <a href="/tulokset" class="button6">Tarkastele tuloksiasi</a><br><br><br>
        {% endif %}
        <p><a href="/logout" class="button-logout" style="background-color:#414141">Kirjaudu ulos</a></p>
    
    
    {% else %}
    
    <div class="form-style-6">
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <p>Ei tunnusta? <a href="/register" class="button6">rekisteröidy</a></p>
</div>
    {% endif %}
</div>