<link rel="stylesheet" href="/static/style.css">
{% extends "layout.html" %}
{% block content %}
{% if session.admin == True %}

<form action="/create-basic" method="POST" class="form-style-6">
    <h1>Luo uusi harjoitus</h1>
    <p>Tässä pääset luomaan sointutyypin tunnistustehtävän. Anna ensin tehtävälle nimi (esim. tunnista sointu 1).
    Syötä sitten opiskelijalle esitettävän soinnun äänet, valitse sen jälkeen vastausvaihtoehdot listasta ja sen jälkeen oikea vastausvaihtoehto.</p>
    <h2>Valitse tehtävän nimi:</h2>
        <p>
        <input type="radio" name="topic" value="Tunnista sointu"> Tunnista sointu<br>
        <input type="radio" name="topic" value="Tunnista kolmisointu"> Tunnista kolmisointu<br>
        <input type="radio" name="topic" value="Tunnista nelisointu "> Tunnista nelisointu
    </p>     
    <h2>Valitse soinnun äänet (vähintään 3 kpl):</h2>
    <p>
        <input type="checkbox" name="note" value=C> C 
        <input type="checkbox" name="note" value=Eb> Eb 
        <input type="checkbox" name="note" value=E> E 
        <input type="checkbox" name="note" value=G> G 
        <input type="checkbox" name="note" value=A> A 
        <input type="checkbox" name="note" value=Bb> Bb 
        <input type="checkbox" name="note" value=B> B 
        

    </p>
    <h2>Valitse opiskelijalle näytettävät vastausvaihtoehdot:</h2>

    <p>
        <input type="checkbox" onClick="toggle(this)" /> Valitse kaikki<br/><br>
        <input type="checkbox" name="choice" value="C"> C (soinnussa äänet C,E,G)<br>
        <input type="checkbox" name="choice" value="Cm"> Cm (soinnussa äänet C,Eb,G)<br>
        <input type="checkbox" name="choice" value="Cmaj7"> Cmaj7 (soinnussa äänet C,E,G,B)<br>
        <input type="checkbox" name="choice" value="C7"> C7 (soinnussa äänet C,E,G,Bb)<br>
        <input type="checkbox" name="choice" value="C6"> C6 (soinnussa äänet C,E,G,A)<br>
        <input type="checkbox" name="choice" value="Cm6"> Cm6 (soinnussa äänet C,Eb,G,A)<br>
        <input type="checkbox" name="choice" value="Cmmaj7"> Cmmaj7 (soinnussa äänet C,Eb,G,B)<br>
        <input type="checkbox" name="choice" value="Cm7"> Cm7 (soinnussa äänet C,Eb,G,Bb)<br><br>
        <script>
            function toggle(source) {
            checkboxes = document.getElementsByName('choice');
            for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
            }
          }
        </script>
        
        
        
    </p>
<p>
    
    <h2>Oikea vastaus:</h2>
        <p>
        <input type="radio" name="answer" value="C"> C<br>
        <input type="radio" name="answer" value="Cm"> Cm<br>
        <input type="radio" name="answer" value="Cmaj7"> Cmaj7<br>
        <input type="radio" name="answer" value="Cmaj7"> Cmaj7<br>
        <input type="radio" name="answer" value="C7"> C7<br>
        <input type="radio" name="answer" value="C6"> C6<br>
        <input type="radio" name="answer" value="Cm6"> Cm6<br>
        <input type="radio" name="answer" value="Cmmaj7"> Cmmaj7<br>
        <input type="radio" name="answer" value="Cm7"> Cm7<br>
    </p>
    <input type="submit" value="Luo testi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {%else%}
    <p>Sinulla ei ole oikeuksia tähän sivuun.</p>
    {%endif%}
    {% endblock %}