
<p>Luo itsellesi tunnukset sovelluksen käyttämistä varten:</p>
<form action="/register" method="post">
    Tunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password">
    <p>
    Rooli:
        <p>
        <input type="radio" name="role" value="1"> Opettaja
        <input type="radio" name="role" value="0"> Opiskelija        
        <p>
    <input type="submit" value="Luo tunnus">
    </form>
    <a href="/" class="button6">palaa etusivulle</a><br>
    <script>
        function check(form) {
            if (form.username.value.length > 20) {
                alert("Käyttäjätunnus on liian pitkä");
                return false;
            }
            if (form.password.value.length > 20) {
                alert("Salasana on liian pitkä");
                return false;
            }
            return true;
        }
        </script>