<link rel="stylesheet" href="/static/style.css">
<h1>Testi 2</h1>
<p>Tässä testissä harjoittelet sointuja annettujen äänten perusteella.</p>
<p>Testissä on kymmenen sointua ja sinun tehtävänäsi on tunnistaa soinnun tyyppi 
    annetuista vaihtoehdoista.</p>
<p><strong>Tehtävä 1</strong></p>
 <p>Missä soinnussa on äänet C, E, G, Bb?</p>   

 <p>
    <form action="/" method="POST">
        <input type="radio" name="sointu" value="1"> C6
        <input type="radio" name="sointu" value="2"> C7
        <input type="radio" name="sointu" value="3"> Cmaj7
        <input type="radio" name="sointu" value="4"> C9
        <p>
    <input type="submit" value="Lähetä">
    </form>
<br>
<br>
<a href="/" class="button6">palaa etusivulle</a><br>
    
<p><a href="/logout" class="button6" style="background-color:#668fff">Kirjaudu ulos</a></p>