{% extends "layout.html" %}
{% block content %}
{% if session.admin == True %}
<link rel="stylesheet" href="/static/style.css">
<div class="form-style-6">
    <h1>Tilastot</h1>
<h2>Ylläpitäjät</h2>
{% for admin in admins %}

<li> Nimi: {{ admin[1] }}, ID:{{ admin[0] }}</li>
{% endfor %}

<h2>Rekisteröityneet käyttäjät</h2>

{% for user in users %}
<p><form action="/delete/{{ user[0] }}" method="POST"> Nimi: <a href="/tilastot/{{ user[1] }}" class="link-stat">{{ user[1] }}</a>, ID:{{ user[0] }}     
        <input type="submit" value="Poista" id="poista">
    </form></p>
    <hr>
{% endfor %}

<br>
<p>Käyttäjien vastauksia yhteensä: {{count_answer}} kpl</p>
<p>Tehtäviä yhteensä: {{count_tests}} kpl</p>
<p>Kuuntelutehtäviä yhteensä: {{count_audiotests}} kpl</p>
<p>Tunnistustehtäviä yhteensä: {{count_basictests}} kpl</p>
</div>
<br>
<br>
{%else%}
<p>Sinulla ei ole oikeuksia tähän sivuun.</p>
{%endif%}
{%endblock%}