{% extends "layout.html" %}
{% block content %}
{% if session.admin == True %}
<link rel="stylesheet" href="/static/style.css">
<h1>Tilastot</h1>
<p>Ylläpitäjät</p>
{% for admin in admins %}
<li> Nimi: {{ admin[1] }}, ID:{{ admin[0] }}
{% endfor %}
<p>Rekisteröityneet käyttäjät</p>
{% for user in users %}
<li> Nimi: <a href="/tilastot/{{ user[1] }}">{{ user[1] }}</a>, ID:{{ user[0] }}
{% endfor %}
</ul>
<br>
<p>Käyttäjien vastauksia yhteensä: {{count_answer}} kpl</p>
<p>Tehtäviä yhteensä: {{count_tests}} kpl</p>
<p>Kuuntelutehtäviä yhteensä: {{count_audiotests}} kpl</p>
<p>Tunnistustehtäviä yhteensä: {{count_basictests}} kpl</p>
<p>Tehtäviä yhteensä: {{count_tests}} kpl</p>
<br>
<br>
{%else%}
<p>Sinulla ei ole oikeuksia tähän sivuun.</p>
{%endif%}
{%endblock%}